<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/movie?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">rui</property>
        <property name="hibernate.connection.password">1234</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <property name="show_sql">true</property>
        
        <mapping class="com.example.movie.model.Movie"/>
        <mapping class="com.example.movie.model.Country"/>
        <mapping class="com.example.movie.model.Occupation"/>
        <mapping class="com.example.movie.model.Person"/>
        <mapping class="com.example.movie.model.Category"/>
        <mapping class="com.example.movie.model.User"/>
        <mapping class="com.example.movie.model.Role"/>
    </session-factory>
</hibernate-configuration>